In [1]:
# importing libraries
import pandas as pd  
import numpy as np   
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
ds = pd.read_csv('./data/clean.csv')
ds = ds.drop('Unnamed: 0', axis = 1)

In [51]:
ds

,Country,Year,Total,Administration,Arts and Sports,Construction,Education,Electricity and Gas,Extractive Ind,Finance and Insurance,Hospitality,Information and Communication,Manufacturing,Real Estate,Scientific Consultancy,Social Work,Transportation and Storage,Water and Sewage,Wholesale
0,Austria,2010,24.0,22.5,34.0,9.9,27.8,23.6,18.3,30.3,9.9,21.2,24.4,27.0,34.0,12.0,7.3,12.2,27.5
1,Belgium,2008,10.2,18.9,9.1,-0.6,3.6,30.8,-8.8,22.6,9.6,16.0,12.5,18.5,20.1,9.4,5.0,1.1,18.2
2,Belgium,2010,10.2,17.6,8.9,-1.6,3.4,29.6,-13.4,22.1,8.7,15.2,11.5,17.8,19.4,9.3,4.1,-0.5,17.1
3,Belgium,2011,9.4,15.4,6.9,-2.8,3.3,27.7,-10.4,21.6,7.9,14.4,10.1,14.2,18.3,6.8,4.5,-1.0,15.6
4,Belgium,2012,8.3,13.4,5.1,-4.0,3.3,26.0,-7.1,21.2,7.0,13.5,8.9,10.8,17.3,4.5,4.9,-1.2,14.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Uk,2013,21.0,8.9,27.1,22.0,20.1,25.2,11.6,39.2,12.2,18.4,18.5,27.5,26.3,27.3,4.3,-0.4,25.5
261,Uk,2014,20.9,10.4,26.0,18.3,20.3,21.4,7.5,39.0,11.3,17.0,19.4,22.7,25.1,26.6,7.9,-0.7,24.9
262,Uk,2015,21.0,10.1,38.9,14.1,20.4,21.2,7.7,37.4,10.7,17.1,20.2,22.1,25.3,26.4,7.4,-1.1,23.1
263,Uk,2016,20.7,10.0,36.5,17.8,21.0,20.7,0.2,36.1,12.3,17.6,18.3,22.9,22.8,25.8,3.6,-1.3,21.4
264,Uk,2017,20.8,11.3,42.7,13.9,20.1,18.0,-4.9,34.2,9.6,18.2,17.1,21.9,23.7,25.4,5.8,-0.5,22.2

### Belgium

In [52]:
belgium = ds.loc[ds.Country == "Belgium", ["Country","Year","Total"]]
belgium

   Country  Year  Total
1  Belgium  2008   10.2
2  Belgium  2010   10.2
3  Belgium  2011    9.4
4  Belgium  2012    8.3
5  Belgium  2013    7.5
6  Belgium  2014    6.6
7  Belgium  2015    6.5
8  Belgium  2016    6.1
9  Belgium  2017    6.0

In [53]:
X = belgium["Year"].values.reshape(-1,1)
y = belgium["Total"].values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=0)

regressor = LinearRegression()  
regressor.fit(X_train, y_train)

intercept = regressor.intercept_
coef = regressor.coef_

print("Year to expect a 0% salary gap: ", round(int(- intercept / coef)))

Year to expect a 0% salary gap:  2026

### France

In [54]:
france = ds.loc[ds.Country == "France", ["Country","Year","Total"]]

X = france["Year"].values.reshape(-1,1)
y = france["Total"].values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=0)

regressor = LinearRegression()  
regressor.fit(X_train, y_train)

intercept = regressor.intercept_
coef = regressor.coef_

print("Year to expect a 0% salary gap: ", round(int(- intercept / coef)))

Year to expect a 0% salary gap:  2169

### UK

In [58]:
uk = ds.loc[ds.Country == "Uk", ["Country","Year","Total"]]
X = uk["Year"].values.reshape(-1,1)
y = uk["Total"].values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=0)

regressor = LinearRegression()  
regressor.fit(X_train, y_train)

intercept = regressor.intercept_
coef = regressor.coef_

print("Year to expect a 0% salary gap: ", round(int(- intercept / coef)))

Year to expect a 0% salary gap:  2796

### Poland

In [59]:
poland = ds.loc[ds.Country == "Poland", ["Country","Year","Total"]]
X = poland["Year"].values.reshape(-1,1)
y = poland["Total"].values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=0)

regressor = LinearRegression()  
regressor.fit(X_train, y_train)

intercept = regressor.intercept_
coef = regressor.coef_

print("Year to expect a 0% salary gap: ", round(int(- intercept / coef)))

Year to expect a 0% salary gap:  2026

### Denmark

In [60]:
denmark = ds.loc[ds.Country == "Denmark", ["Country","Year","Total"]]
X = denmark["Year"].values.reshape(-1,1)
y = denmark["Total"].values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=0)

regressor = LinearRegression()  
regressor.fit(X_train, y_train)

intercept = regressor.intercept_
coef = regressor.coef_

print("Year to expect a 0% salary gap: ", round(int(- intercept / coef)))

Year to expect a 0% salary gap:  2072

### Sweden

In [61]:
sweden = ds.loc[ds.Country == "Sweden", ["Country","Year","Total"]]
X = sweden["Year"].values.reshape(-1,1)
y = sweden["Total"].values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=0)

regressor = LinearRegression()  
regressor.fit(X_train, y_train)

intercept = regressor.intercept_
coef = regressor.coef_

print("Year to expect a 0% salary gap: ", round(int(- intercept / coef)))

Year to expect a 0% salary gap:  2046

### Spain

In [62]:
spain = ds.loc[ds.Country == "Spain", ["Country","Year","Total"]]
X = spain["Year"].values.reshape(-1,1)
y = spain["Total"].values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=0)

regressor = LinearRegression()  
regressor.fit(X_train, y_train)

intercept = regressor.intercept_
coef = regressor.coef_

print("Year to expect a 0% salary gap: ", round(int(- intercept / coef)))

Year to expect a 0% salary gap:  2068

### Norway

In [68]:
norway = ds.loc[ds.Country == "Norway", ["Country","Year","Total"]]
X = norway["Year"].values.reshape(-1,1)
y = norway["Total"].values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=0)

regressor = LinearRegression()  
regressor.fit(X_train, y_train)

intercept = regressor.intercept_
coef = regressor.coef_

print("Year to expect a 0% salary gap: ", round(int(- intercept / coef)))

Year to expect a 0% salary gap:  2080

### Predictions

In [70]:
predictions = {'Belgium':2026,
              'France':2169,
              'UK':2796,
               'Poland':2026,
              'Denmark':2072,
               'Sweden':2046,
               'Spain':2068,
               'Norway':2080
             }
predictions

{'Belgium': 2026,
 'France': 2169,
 'UK': 2796,
 'Poland': 2026,
 'Denmark': 2072,
 'Sweden': 2046,
 'Spain': 2068,
 'Norway': 2080}