In [1]:
import pandas as pd
import fuzzy_pandas as fpd

In [2]:
life = pd.read_csv('./data/life.csv')
paygap = pd.read_csv('./data/clean.csv')
paygap = paygap.drop('Unnamed: 0', axis = 'columns')
life.dtypes

TIME                   int64
GEO                   object
SEX                   object
AGE                   object
UNIT                  object
Value                 object
Flag and Footnotes    object
dtype: object

In [3]:
life = life.loc[(life['TIME'] == 2018) & (life['SEX'] == 'Total')]

In [4]:
life['GEO'] = life['GEO'].str.strip().str.title()
life = life[['GEO', 'Value']]
life = life.rename(columns = {'GEO':'Country','Value':'Expenctancy'})

In [5]:
life.Country.unique()

array(['European Union - 27 Countries (From 2020)',
       'European Union - 28 Countries (2013-2020)',
       'European Union - 27 Countries (2007-2013)',
       'Euro Area - 19 Countries  (From 2015)',
       'Euro Area - 18 Countries (2014)', 'Belgium', 'Bulgaria',
       'Czechia', 'Denmark',
       'Germany (Until 1990 Former Territory Of The Frg)',
       'Germany Including Former Gdr', 'Estonia', 'Ireland', 'Greece',
       'Spain', 'France', 'France (Metropolitan)', 'Croatia', 'Italy',
       'Cyprus', 'Latvia', 'Lithuania', 'Luxembourg', 'Hungary', 'Malta',
       'Netherlands', 'Austria', 'Poland', 'Portugal', 'Romania',
       'Slovenia', 'Slovakia', 'Finland', 'Sweden', 'United Kingdom',
       'European Economic Area (Eu28 - 2013-2020 And Is, Li, No)',
       'European Economic Area (Eu27 - 2007-2013 And Is, Li, No)',
       'European Free Trade Association', 'Iceland', 'Liechtenstein',
       'Norway', 'Switzerland', 'Montenegro', 'North Macedonia',
       'Albania', 'Serbia', 'Turkey', 'Belarus',
       'Kosovo (Under United Nations Security Council Resolution 1244/99)',
       'Moldova', 'Russia', 'San Marino', 'Ukraine', 'Armenia',
       'Azerbaijan', 'Georgia'], dtype=object)

In [6]:
life = life.loc[(life['Country'] == 'Poland') | (life['Country'] == 'Sweden') | 
                (life['Country'] == 'United Kingdom') | (life['Country'] == 'Norway') | (life['Country'] == 'Denmark')]
life

             Country Expenctancy
1536         Denmark        81.0
1593          Poland        77.7
1611          Sweden        82.6
1614  United Kingdom        81.3
1632          Norway        82.8

In [7]:
dict_life = {
 'UK': 81.3,
 'Poland': 77.7,
 'Denmark': 81,
 'Sweden': 82.6,
 'Norway': 82.8}
dict_life

{'UK': 81.3, 'Poland': 77.7, 'Denmark': 81, 'Sweden': 82.6, 'Norway': 82.8}

In [ ]:
data = fpd.fuzzy_merge(paygap, life, left_on='Country', right_on='GEO', ignore_case=True)

In [ ]:
data = data.drop('GEO', axis = 1)

In [ ]:
data